@import "normalize.css";
:root {
  --white: #ffffff;
  --black: #000000;
  --lightBlack: #212121;
  --gray: #646464;
  --darkWhite: #eeeeee;
  --lightGrey: #f8f8f8;
  --mediumGrey: #d5d5d5;
  --green: #37806b;
  --brown: #caa892;
  --gold: #b0855b;
  --duration: 0.4s;
  --border: 15px 0 15px 0;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}
.btn {
  display: flex;
  align-items: center;
  padding: 5px 19px;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  transition: opacity var(--duration);
  border-radius: var(--border);
  &:hover {
    opacity: 0.7;
  }
}
.dots {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
nav {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 107px;
    .nav__menu {
      .nav__mobile-btn {
        display: none;
        background: transparent;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        width: 32px;
        height: 32px;
      }
      ul {
        display: flex;
        gap: 64px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          a {
            display: block;
            position: relative;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            color: var(--black);
            transition: opacity var(--duration);
            &::after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 0;
              height: 2px;
              background: var(--gold);
              transition: width var(--duration);
            }
            &:hover {
              opacity: 0.7;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }

        @media screen and (max-width: 1024px) {
          gap: 20px;
        }
      }
    }
    .nav__sign__up {
      .btn {
        background: var(--brown);
      }
    }
    @media screen and (max-width: 768px) {
      .nav__menu {
        .nav__mobile-btn {
          display: block;
          img {
            width: inherit;
          }
        }
        ul {
          display: none;
        }
      }
      .nav__sign__up {
        display: none;
      }
    }
  }
}
header {
  position: relative;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    .header__content {
      h4 {
        font-size: 20px;
        font-weight: 600;
        color: var(--gray);
        text-transform: uppercase;
        margin: 0;
      }
      h1 {
        color: var(--lightBlack);
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        font-size: 72px;
        line-height: 78px;
        margin-top: 12px;
        margin-bottom: 23px;
        @media screen and (max-width: 1024px) {
          font-size: 55px;
        }
        @media screen and (max-width: 768px) {
          font-size: 48px;
        }
        @media screen and (max-width: 580px) {
          font-size: 36px;
        }
        @media screen and (max-width: 360px) {
          font-size: 32px;
        }
      }
      p {
        margin-bottom: 28px;
        color: var(--gray);
      }
      .btn {
        background: var(--green);
        padding: 18px 28px;
        width: 142px;
        height: 42px;
        @media screen and (max-width: 768px) {
          margin: 0 auto;
        }
        @media screen and (max-width: 380px) {
          width: 100%;
          justify-content: center;
        }
      }
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    .header__img {
      img {
        width: 100%;
      }

      @media screen and (max-width: 1024px) {
        margin-top: 32px;
      }
    }
    .dots {
      position: absolute;
      left: 0;
      top: 757px;
    }
  }
}
main {
  padding-top: 50px;
  .container {
    .our__service {
      width: 100%;
      margin-bottom: 204px;
      .service__text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .text__content {
          h4,
          h2 {
            color: var(--lightBlack);
            margin: 0;
            padding: 0;
          }
          h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -1%;
            @media screen and (max-width: 768px) {
              font-size: 16px;
            }
          }
          h2 {
            font-weight: 600;
            font-size: 48px;
            line-height: 78px;
            @media screen and (max-width: 1024px) {
              font-size: 36px;
            }
            @media screen and (max-width: 768px) {
              font-size: 32px;
            }
            @media screen and (max-width: 580px) {
              font-size: 28px;
            }
          }
        }
        .swiper__btn {
          gap: 18px;
          .first-btn,
          .last-btn {
            width: 30px;
            height: 30px;
            box-shadow: -1px 3px 10px hsla(0, 0%, 0%, 0.301);
            border-radius: 100%;
            border: none;
            cursor: pointer;
          }
          .first-btn {
            background: var(--white);
          }
          .last-btn {
            background: var(--green);
          }
        }
        @media screen and (max-width: 1024px) {
          .service__text {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            .swiper__btn {
              display: flex;
            }
          }

          .text__content {
            h4 {
              font-size: 18px;
            }

            h2 {
              font-size: 36px;
              line-height: 60px;
            }
          }
        }
        @media screen and (max-width: 768px) {
          .text__content {
            h4 {
              font-size: 16px;
            }

            h2 {
              font-size: 32px;
              line-height: 48px;
            }
          }

          .swiper__item {
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            padding: 25px 20px;
            border-radius: 30px;

            h4 {
              font-size: 20px;
            }

            p {
              font-size: 13px;
            }
          }

          .swiper__btn {
            gap: 12px;

            .first-btn,
            .last-btn {
              width: 28px;
              height: 28px;
            }
          }
        }
        @media screen and (max-width: 580px) {
          .text__content {
            h2 {
              font-size: 28px;
            }
          }

          .swiper__item {
            padding: 20px 16px;

            h4 {
              font-size: 18px;
            }

            p {
              font-size: 12px;
            }
          }
        }
        @media screen and (max-width: 420px) {
          .swiper__item {
            padding: 18px 14px;
            gap: 15px;
          }

          .swiper__btn {
            justify-content: space-between;
            width: 100%;
          }
        }
      }
      .swiper__items {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 37px;
        .swiper__item {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;
          max-width: 425px;
          height: 193px;
          padding: 35px 23px;
          border-radius: 60px 0 60px 0;
          box-shadow: -1px 3px 10px hsla(0, 0%, 0%, 0.301);
          cursor: pointer;
          &:nth-child(2) {
            background: var(--brown);
            color: var(--white);
          }
          h4 {
            font-size: 24px;
            font-weight: 700;
          }
          p {
            margin: 0;
            text-align: left;
          }
        }

        @media screen and (max-width: 1200px) {
          flex-wrap: wrap;
          justify-content: center;
          gap: 30px;
          .swiper__item {
            max-width: 100%;
            height: auto;
            padding: 30px 20px;

            h4 {
              font-size: 22px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
    .content__block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .content__text {
        flex: 1;
        h4 {
          font-size: 20px;
          font-weight: 500;
          color: var(--gray);
          text-transform: uppercase;
          margin: 0;
        }
        p {
          margin-bottom: 28px;
          color: var(--gray);
        }
        h2 {
          font-size: 48px;
          line-height: 57px;
          font-weight: 500;
          color: var(--lightBlack);
          margin: 0;
          padding: 0;
        }
        .btn {
          background: var(--green);
          padding: 18px 28px;
          @media screen and (max-width: 768px) {
            margin: 0 auto;
          }
          @media screen and (max-width: 380px) {
            width: 100%;
            justify-content: center;
          }
        }
      }
      .content__img {
        flex: 1;
        max-width: 717px;
        max-height: 758px;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
        @media screen and (max-width: 1024px) {
          margin-top: 32px;
        }
      }
      @media screen and (max-width: 1024px) {
        display: block;
        .content__img {
          margin: 0 auto;
        }
        .content__text {
          margin-top: 25px;
          margin-bottom: 30px;
        }
      }
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    .about {
      gap: 132px;
    }
    .working {
      gap: 155px;
      padding-bottom: 177px;
      .content__text {
        h3 {
          font-size: 288px;
          font-weight: 700;
          margin: 0;
          max-width: 600px;
          height: 300px;
          background: url("https://zastavok.net/main/textures/1477075810.jpg")
            no-repeat center;
          background-size: cover;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-font-smoothing: antialiased;
          @media screen and (max-width: 1200px) {
            font-size: 250px;
          }
        }
        h2 {
          margin-top: 17px;
          margin-bottom: 30px;
        }
      }
      .content__img {
        flex: 1;
        max-width: 717px;
        max-height: 758px;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
        @media screen and (max-width: 1200px) {
          margin-top: 32px;
        }
      }
      @media screen and (max-width: 1200px) {
        gap: 100px;
        margin-top: 50px;
      }
    }
    .testimonials {
      margin-top: 86px;
      .service__text {
        justify-content: space-evenly;
        align-items: flex-end;
        .text__content {
          h4,
          h2 {
            text-align: center;
            margin: 0 auto;
          }
        }
      }
      .swiper__items {
        .swiper__item {
          max-width: 571px;
          height: 226px;
          gap: 84;
          box-sizing: border-box;
          padding: 41px 35px 60px 102px;
          position: relative;
          color:var(--lightBlack);
          img {
            width: 130px;
            height: 164px;
            border-radius: 20px 0 20px 0;
            position: absolute;
            left: -65px;
          }
          h4 {
            margin: 0;
            span {
              font-size: 16px;
              font-weight: 400;
              color: var(--gray);
            }
          }
          &:nth-child(2) {
            background: var(--white);
            color:var(--lightBlack);
          }
        }
      }
    }
  }
  .completed {
    max-width: 100%;
    background: var(--lightGrey);
    padding: 87px 286px;
    position: relative;
    .container {
      display: flex;
      flex-direction: column;
      gap: 87px;
      h2 {
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        max-width: 820px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
          font-size: 40px;
          max-width: 100%;
        }
        @media screen and (max-width: 380px) {
          font-size: 36px;
        }
      }
      .stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .stat-box {
          width: 185px;
          height: 182px;
          background: var(--white);
          border-radius: 40px 0 40px 0;
          box-shadow: 0 13px 16px rgba(0, 0, 0, 0.103);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          box-sizing: border-box;
          .stat-number {
            color: var(--black);
            font-size: 48px;
            font-weight: 700;
            line-height: 1.6;
          }
          .stat-label {
            color: var(--lightBlack);
            font-size: 18px;
            font-weight: 600;
            line-height: 1.3;
          }
        }
        div:nth-child(2n + 2) {
          margin-top: 96px;
        }
        @media screen and (max-width: 1200px) {
          flex-wrap: wrap;
          justify-content: center;
          gap: 40px 30px;
          div:nth-child(2n + 2) {
            margin-top: 0;
          }
          .stat-box {
            width: 160px;
            height: 150px;
            .stat-number {
              font-size: 40px;
            }
            .stat-label {
              font-size: 16px;
            }
          }
        }
        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          gap: 20px;
          .stat-box {
            width: 100%;
            max-width: 250px;
            height: 120px;
            border-radius: 20px 0 20px 0;
            .stat-number {
              font-size: 32px;
            }
            .stat-label {
              font-size: 14px;
            }
          }
        }

        @media screen and (max-width: 380px) {
          gap: 10px;
          .stat-box {
            width: 100%;
            max-width: 200px;
            height: 95px;
            border-radius: 15px 0 15px 0;
            .stat-number {
              font-size: 28px;
            }
            .stat-label {
              font-size: 11px;
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        gap: 40px;
      }
      @media screen and (max-width: 380px) {
        gap: 25px;
      }
    }
    @media screen and (max-width: 1200px) {
      padding: 60px 100px;
    }
    @media screen and (max-width: 768px) {
      padding: 40px 20px;
    }
    .dots {
      position: absolute;
      left: 0;
      bottom: -180px;
    }
  }
  .dots {
    margin-top: 77px;
    margin-bottom: 100px;
  }
}
