@import "normalize.css";
:root {
  --white: #ffffff;
  --black: #000000;
  --lightBlack: #212121;
  --gray: #646464;
  --darkWhite: #eeeeee;
  --lightGrey: #f8f8f8;
  --mediumGrey: #d5d5d5;
  --green: #37806b;
  --brown: #caa892;
  --gold: #b0855b;
  --duration: 0.4s;
  --border: 15px 0 15px 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}
.btn {
  display: flex;
  align-items: center;
  padding: 5px 19px;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  transition: opacity var(--duration);
  border-radius: var(--border);
  &:hover {
    opacity: 0.7;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
nav {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 107px;
    .nav__menu {
      .nav__mobile-btn {
        display: none;
        background: transparent;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        width: 32px;
        height: 32px;
      }
      ul {
        display: flex;
        gap: 64px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          a {
            display: block;
            position: relative;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            color: var(--black);
            transition: opacity var(--duration);
            &::after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 0;
              height: 2px;
              background: var(--gold);
              transition: width var(--duration);
            }
            &:hover {
              opacity: 0.7;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }

        @media screen and (max-width: 1024px) {
          gap: 20px;
        }
      }
    }
    .nav__sign__up {
      .btn {
        background: var(--brown);
      }
    }
    @media screen and (max-width: 768px) {
      .nav__menu {
        .nav__mobile-btn {
          display: block;
          img {
            width: inherit;
          }
        }
        ul {
          display: none;
        }
      }
      .nav__sign__up {
        display: none;
      }
    }
  }
}
header {
  position: relative;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    .header__content {
      h4 {
        font-size: 20px;
        font-weight: 600;
        color: var(--gray);
        text-transform: uppercase;
        margin: 0;
      }
      h1 {
        color: var(--lightBlack);
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        font-size: 72px;
        line-height: 78px;
        margin-top: 12px;
        margin-bottom: 23px;
        @media screen and (max-width: 1024px) {
          font-size: 55px;
        }
        @media screen and (max-width: 768px) {
          font-size: 48px;
        }
        @media screen and (max-width: 580px) {
          font-size: 36px;
        }
        @media screen and (max-width: 360px) {
          font-size: 32px;
        }
      }
      p {
        margin-bottom: 28px;
        color: var(--gray);
      }
      .btn {
        background: var(--green);
        padding: 18px 28px;
        width: 142px;
        height: 42px;
        @media screen and (max-width: 768px) {
          margin: 0 auto;
        }
        @media screen and (max-width: 380px) {
          width: 100%;
          justify-content: center;
        }
      }
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    .header__img {
      img {
        width: 100%;
      }

      @media screen and (max-width: 1024px) {
        margin-top: 32px;
      }
    }
    .dots {
      position: absolute;
      left: 0;
      top: 757px;
    }
  }
  @media screen and (max-width: 1200px) {
    .dots {
      display: none;
    }
  }
}
